.Footer__container {
  text-align: center;
  padding: 50px 80px;
  background-color: #efefef;
}

.Footer__container p {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

@media (min-width: 1080px) {
  .Footer__container {
    position: absolute;
    bottom: 80px;
    left: auto;
    right: 10vw;
    margin: auto;
    padding: 0;
  }

  .Footer__container p {
    font-size: 16px;
  }
}
