.App__container {
  display: flex;
  flex-flow: column;
}

.App__navigation {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100vw;
  background-color: #6befa3;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.App__navigation::before {
  content: "";
  position: absolute;
  background-color: #efefef;
  height: 40%;
  width: 150%;
  top: 100%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin-top: calc(-50px / 2);
  border-radius: 50% 50% 0% 0%;
  z-index: -1;
}

.App__navigation--theme-mega-sena {
  background-color: #6befa3;
}

.App__navigation--theme-quina {
  background-color: #8666ef;
}

.App__navigation--theme-lotofacil {
  background-color: #dd7ac6;
}

.App__navigation--theme-lotomania {
  background-color: #ffab64;
}

.App__navigation--theme-timemania {
  background-color: #5aad7d;
}

.App__navigation--theme-dia-de-sorte {
  background-color: #bfaf83;
}

.App__content {
  content: "";
  width: 100vw;
  min-height: 200px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
}

.App__logo {
  margin-top: 65px;
  text-align: center;
}

.App__logo h1 {
  font-weight: 500;
  color: #ffffff;
  margin-top: 10px;
}

@media (min-width: 1080px) {
  .App__container {
    flex-direction: row;
  }

  .App__navigation {
    height: 105vh;
    width: 40vw;
  }

  .App__navigation::before {
    height: 150%;
    width: 100%;
    top: 50%;
    right: 0;
    left: auto;
    transform: none;
    margin-right: calc(-150% / 2);
    margin-top: calc(-1450px / 2);
    border-radius: 50% 0% 0% 50%;
    z-index: -1;
  }

  .App__content {
    width: 60vw;
    min-height: auto;
  }

  .App__logo {
    position: absolute;
    text-align: center;
    width: 60%;
    top: 35%;
  }
}
