* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow: hidden;
}

.App__container {
  display: flex;
  flex-flow: column;
}

.App__navigation {
  background-color: #6befa3;
  height: 60vh;
  width: 100vw;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.App__navigation::before {
  content: "";
  position: absolute;
  background-color: #efefef;
  height: 40%;
  width: 150%;
  top: 100%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin-top: calc(-50px / 2);
  border-radius: 50% 50% 0% 0%;
  z-index: -1;
}

.App__content {
  content: "";
  width: 100vw;
  height: 105vh;
  background-color: #efefef;
}

@media (min-width: 1080px) {
  .App__container {
    flex-direction: row;
  }

  .App__navigation {
    height: 105vh;
    width: 40vw;
  }

  .App__navigation::before {
    height: 150%;
    width: 100%;
    top: 50%;
    right: 0;
    left: auto;
    transform: none;
    margin-right: calc(-150% / 2);
    margin-top: calc(-1450px / 2);
    border-radius: 50% 0% 0% 50%;
    z-index: -1;
  }

  .App__content {
    width: 60vw;
  }
}
